html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.back {
  position: fixed;
  inset: 0;
  background-image: url("/image/sq.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1; /* 後ろに置く */
}
.layout-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
}
.header {
  display: flex;
  align-items: center;

  gap: 12px;
}
.title {
  font-size: 36px;
  font-weight: 400;
  color: #b5e1ffe0;
  text-shadow: 0 0 2px #004576, 0 0 10px #6fc4fde0, 0 0 10px #6fc4fde0;
  letter-spacing: 1px;
}
.help-button {
  font-size: 0.9rem;
  padding: 0px 10px;
  background: #eeeeee00;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
}
.help-panel {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
}

/* 開いたとき */
.help-panel.open {
  max-height: 1000px; /* 中身より大きければOK */
  opacity: 1;
  transform: translateY(0);
}
.and-or {
  font-size: 0.9rem;
  padding: 0px 10px;
  background: #eeeeee00;
  color: #ffffff;
  border-color: rgba(0, 0, 0, 0);
  border-radius: 6px;
  cursor: pointer;
}
.and-or option {
  background: #222;
}
.and-or:hover {
  border-color: rgba(0, 0, 0, 0.5);
}
.hr {
  width: 360px;
  margin-left: 0;
}

.chart-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  background: rgba(66, 113, 133, 0);
  padding: 20px;
  z-index: 9999;
  text-align: center;
}
.app-wrapper {
  position: fixed; /* ← 画面全体に固定 */
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;

  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  border: 2px solid rgba(135, 135, 135, 0.178);

  padding: 20px;
  box-sizing: border-box;
  overflow: auto; /* 中身が大きいときスクロール */
}
.x4 {
  color: rgb(255, 103, 103);
  font-weight: bold;
}
.x2 {
  color: red;
  font-weight: bold;
}

.x05 {
  color: blue;
}
.x025 {
  color: rgb(1, 1, 141);
}

.x0 {
  color: black;
  font-weight: bold;
}
.mark {
  display: inline-block;
  border: 1px solid rgb(135, 135, 135);
  background: rgba(255, 255, 255, 0.45);
  padding: 2px 6px;
  text-align: center;
  border-radius: 6px;
}
table th,
table td {
  border: 1px solid rgb(0, 93, 155); /* ← 中の線だけ太くなる */
}

/* 上のタイプ（防御） */
table thead th {
  background-color: #7e92a8;
  font-weight: bold;
}

/* 左のタイプ（攻撃） */
table tbody th {
  background-color: #7e92a8;
  font-weight: bold;
}

table tr:nth-child(1) {
  background-color: #f5f5f5;
}
table tr:nth-child(2) {
  background-color: #ffe5e5;
}
table tr:nth-child(3) {
  background-color: #e5f0ff;
}
table tr:nth-child(4) {
  background-color: #ffffe5;
}
table tr:nth-child(5) {
  background-color: #e9ffe5;
}
table tr:nth-child(6) {
  background-color: #e3fcff;
}
table tr:nth-child(7) {
  background-color: #fff4e5;
}
table tr:nth-child(8) {
  background-color: #f7e5ff;
}
table tr:nth-child(9) {
  background-color: #ded9d2;
}
table tr:nth-child(10) {
  background-color: #e8fdff;
}
table tr:nth-child(11) {
  background-color: #ffe2f6;
}
table tr:nth-child(12) {
  background-color: #ebffe5;
}
table tr:nth-child(13) {
  background-color: #efe9db;
}
table tr:nth-child(14) {
  background-color: #f3e5ff;
}
table tr:nth-child(15) {
  background-color: #e3d5ff;
}
table tr:nth-child(16) {
  background-color: #bababa;
}
table tr:nth-child(17) {
  background-color: #d4d4d4;
}
table tr:nth-child(18) {
  background-color: #fff0ff;
}
/* マウス */
.hover-row {
  background-color: rgba(0, 0, 0, 0.1); /* 黒を8%重ねる */
}

.hover-col {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover-cell {
  background-color: rgba(0, 0, 0, 0.2);
  font-weight: bold;
  position: relative;
}

/* 補完 */
.atk-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 12px 24px;
  margin-top: 8px;
  justify-content: start; /* ← グリッド全体を左寄せ */
}

.atk-item {
  display: flex;
  flex-direction: row; /* ← 横並びにする */
  align-items: center; /* ← 縦位置を揃える */
  gap: 10px; /* ← ラベルとselectの間の余白 */
}
.toggle-button {
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 4px;
  background: #eee;
  border: 1px solid #ccc;
  cursor: pointer;
}
.ability-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  padding: 6px;
  background: #fafafa;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.ability-list div {
  background: #eee;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 11px;
  border: 1px solid #ccc;
  white-space: nowrap;
}

/* 防御 */
.def-grid {
  display: grid;
  grid-template-columns: auto auto; /* ← fr をやめて auto にする */
  gap: 2px 24px;
  margin-top: 8px;
  justify-content: start; /* ← グリッド全体を左寄せ */
}

.def-item {
  display: flex;
  flex-direction: row; /* ← 横並びにする */
  align-items: center; /* ← 縦位置を揃える */
  gap: 10px; /* ← ラベルとselectの間の余白 */
}

/* 相性条件 */
.dual-select {
  display: flex;
  border: 1px solid #888;
  border-radius: 3px;
  overflow: hidden;
}

.dual-select select {
  border: none;
  padding: 2px 6px;
  font-size: 12px;
}

.dual-select select + select {
  border-left: 1px solid #888;
}

.compact-display {
  display: inline-flex;
  align-items: center;
  padding: 4px 8px;
  min-height: 15px; /* セレクトボックスと同じ高さ */
  max-width: min(60vw, 240px);
  border: 1px solid #7c7c7c;
  border-radius: 0px;
  background: #383838;
  cursor: pointer;
  font-size: 10px;
  color: #ffffff;
  max-width: 130px; /* ← 好きな最大幅にする */

  white-space: nowrap; /* 1行にする */
  overflow: hidden; /* はみ出しを隠す */
  text-overflow: ellipsis; /* … にする */
}

.logic-editor {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 280px;
}

.display-box {
  border: 1px solid #aaa;
  padding: 6px;
  min-height: 20px;
  font-size: 15px;
  background: #141414;
}

.logic-display {
  font-family: monospace;
  white-space: pre;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1.2em;
  background: #e7e7e7;
  animation: blink 1s steps(1, end) infinite;
  animation-fill-mode: backwards;
  opacity: 1;
}
.gap {
  display: inline-block;
  width: 2px; /* カーソルと同じ幅 */
  height: 1.2em;
  background: transparent;
}
.not-mode {
  text-decoration: overline;
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row {
  display: flex;
  gap: 4px;
}

.key {
  flex: 1;
  padding: 6px 0; /* ← 小さく */
  font-size: 15px; /* ← 小さく */
  background: #141414;
  border: 1px solid #6d6d6d;
  border-radius: 4px; /* ← 小さく */
}

.key.wide {
  flex: 2;
}

.key.wide {
  flex: 2;
}
.key.decision {
  background: #3f5b63;
  border-color: #5892be;
  font-weight: bold;
}
@media (prefers-color-scheme: light) {
  .back {
    background-image: url("/image/sq2.png");
  }
  .app-wrapper {
    background: rgba(255, 255, 255, 0.3);
  }
  .help-button {
    color: #000000;
  }
  .and-or {
    color: #000000;
  }
  .and-or option {
    background: #ffffff; /* ← 選択肢の背景も黒 */
  }
  /* 上のタイプ（防御） */
  table thead th {
    background-color: #cde6ff;
    font-weight: bold;
  }

  /* 左のタイプ（攻撃） */
  table tbody th {
    background-color: #cde6ff;
    font-weight: bold;
  }
  .compact-display {
    background: #fff;
    color: #000000;
  }
  .display-box {
    border: 1px solid #aaa;
    background: #fff;
  }
  .cursor {
    background: #333;
  }
  .key {
    background: #f5f5f5;
    border: 1px solid #aaa;
  }
  .key.decision {
    background: #d0f0ff;
    border-color: #5892be;
  }
}

@media (max-width: 1060px) {
  .container {
    flex-direction: column;
  }

  .chart-wrapper {
    position: static;
    width: 95%;
  }
  .hr {
    width: 100%;
  }
}
