.eff-super {
  color: red;
  font-weight: bold;
}

.eff-notvery {
  color: blue;
}

.eff-immune {
  color: black;
  font-weight: bold;
}

.eff-normal {
  color: #aaa; /* 等倍は薄く */
}

/* マスの大きさ */
td,
th {
  width: 32px; /* 好きなサイズに変更できる */
  height: 32px; /* 正方形にするために同じ値にする */
  text-align: center;
  vertical-align: middle;
  padding: 0; /* 余白を消すとより正方形になる */
}

/* 記号の太さ */
td {
  font-size: 15px;
}
