.eff-super2 {
  color: rgb(255, 103, 103);
  font-weight: bold;
}
.eff-super {
  color: red;
  font-weight: bold;
}

.eff-notvery {
  color: blue;
}
.eff-notvery2 {
  color: rgb(1, 1, 141);
}

.eff-immune {
  color: black;
  font-weight: bold;
}

.eff-normal {
  color: #aaa; /* 等倍は薄く */
}

/* マスの大きさ */
td,
th {
  aspect-ratio: 1 / 1;
  width: 30px; /* 好きなサイズに変更できる */

  min-width: 5px;
  min-height: 5px;
  text-align: center;
  vertical-align: middle;
  padding: 0; /* 余白を消すとより正方形になる */
  font-size: 5;
}

.squ {
  aspect-ratio: 1 / 1;
  min-width: 25px;
  min-height: 25px;
  display: grid;

  place-items: center;
  text-align: center;
  vertical-align: middle;
  padding: 0; /* 余白を消すとより正方形になる */
}

/* 記号の太さ */
td {
  line-height: 1;
  font-size: 15px;
}
.vertical {
  writing-mode: vertical-rl;
  text-orientation: upright;
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  padding: 2px 0;
  white-space: nowrap;
  text-align: center;
}

.abilities {
  position: absolute;
  top: 110%;
  left: 110%;
  width: max-content;
  padding: 2px;
  border: 3px, solid, #324c5863;
  color: black;
  background-color: #ffffff90;
}
.everyday {
  background-color: rgba(200, 0, 0, 0.1);
}
.everyday.hover-row {
  background-color: rgba(100, 0, 0, 0.2);
}
.everyday.hover-col {
  background-color: rgba(100, 0, 0, 0.2);
}
.everyday.hover-cell {
  background-color: rgba(100, 0, 0, 0.25);
}

@media (max-width: 600px) {
  td {
    font-size: 10px;
  }
  table th {
    font-size: 10px;
  }
  .squ {
    min-width: 5px;
    min-height: 5px;
  }
  td,
  th {
    width: 21px;
  }
  .vertical {
    width: 16px;
    min-width: 16px;
    max-width: 16px;
  }
}
